input[type=text],
input[type=date],
input[type=email],
input[type=password],
input[type=number],
select,
textarea{
    width: 25%;
    height: 30px;
    font-size: 13px;
    outline: 0;    
    box-sizing: border-box;    
}

fieldset{
	width: 47%;
	height: 100px;
	float: left;
	background: #bdc3c7;
	color: #1e3799;
}