
#report-header{
    position:fixed;
    height: 150px;
    text-align: center;
    margin-top: 150px; 
}

.table_report table{
    width: 100%;
    margin: 0 auto;
}

.table_report table, 
.table_report th, 
.table_report td {    
    border-collapse: collapse;
}

.table_report thead{
    background-color: #f73725;
}

.table_report thead th{
    padding: 20px 0px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.table_report tbody{        
    text-align: center;    
}

.table_report tbody td{
    padding: 10px 0px;
}    